.user-profile-main-parent {
    display: flex;
    @include m-575{
        flex-direction: column;
    }
    .user-image-pro {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 16.5rem;
        max-width: 16.5rem;
        height: 16.5rem;
        overflow: hidden;
        border-radius: 100%;
        
    }

   
}

.parent-for-right-side{
    margin-left: 3rem;
    @include m-575{
        margin-left: 0px;
        margin-top: 3em;
    }
    .right-side-parent-profile {
        width: 100%;
     
        .inner-wrapper-content-profile {
            .profile-tittle-main {
                font-size: 2.6rem;
                font-weight: 900;
                color: $heading;
            }
            .ul-list-profile{
                margin-bottom: 0px;
                .li-list-sub{
                    font-size: 2rem;
                    color: $heading;
                    font-weight: 400;
                    margin-bottom: 1.7rem;
                    &:last-child{
                        margin-bottom: 0px;
                    }
                    .sub-span-tittle{
                        font-weight: 700;
                        color: $heading;
                        line-height: 2.5rem;
                    }
                }

            }
        }
    }

}




// supplier code here profile 

.supplier-profile-parent {
    display: flex;
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    padding: 5rem;
    @include m-575{
        flex-direction: column;
    }
    .parent-for-right-side{
        .right-side-parent-profile {
            .inner-wrapper-content-profile {
                .tittle-wrapper-22{
                    margin-bottom: 1.8rem;
                  

                }
                
            }
        }
    }
}

.supplier-image-pro {
    min-width: 24.8rem;
    max-width: 24.8rem;
    height: 13.5rem;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.tittle-info-mange-pro {
    font-size: 1.8rem;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
}

.butt-profile-dasboardd{
    .btn-primary{
        max-width: 27.2rem;
    }
}

.edit-profile-button-dash {
    max-width: 26.2rem;
}

// end profile suppleir code 




.rtl {
    .parent-for-right-side{
        margin-left: 0rem;
        margin-right: 3rem;
        @include m-575{
            margin-right: 0px;
        }
      
      }
}





// suppleir profile


.ul-list-profile{
    .suppleir-listing-li-items{
        margin-bottom: 1.2rem;
        font-size: 1.4rem;
        color: $primary;
        font-weight: 400;
        display: flex;
        align-items: center;
    }
    .svg-icon {
        margin-right: 1.1rem;
    }

}


.supplier-wrapper-boxx{
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    padding: 5rem;
    .supplier-profile-parent {
        display: flex;
        border: none;
        border-radius: 0px;
        padding: 0px;
       
    }
}


.supplier-about-parent-page{
    border-top: 1px solid #E6E6E6;
    padding-top: 2rem;
    margin-top: 0.4rem;
    .about-tittle{
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 0.8rem;
        color: $heading;
    }

    .desp-p-detail{
        p{
            font-size: 1.6rem;
            line-height: 2.6rem;
            font-weight: 400;
            color: #666666;
        }
    }

}

.trade-images-supplier {
    margin-top: 2rem;
}

.multi-trade-images-sup{
    .image-block-trade {
        min-width: 11.5rem;
        max-width: 11.5rem;
        height: 11.5rem;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2rem;
    }

}

.trade-titleee{
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 0.8rem;
        color: $heading;

}