.my-table {
    margin-top: 1.5rem;

    thead {
        tr {
            border: none;
            background-color: #eeeeee;
        }

        th {
            border: none;
            font-size: 1.6rem;
            font-weight: 400 !important;
            color: #222;
            text-transform: capitalize;
            padding: 1.3rem;
        }
    }

    tbody {
        tr {
            border: 0.1rem solid #eeeeee;
            background-color: #fff;
        }

        td {
            border: none;
            font-size: 1.6rem;
            font-weight: 400 !important;
            color: #222;
            text-transform: capitalize;
            padding: 1.3rem;

            &:nth-child(2) {
                font-size: 1.6rem;
                font-weight: 500 !important;
                color: #222;
                text-transform: uppercase;
            }

            &:nth-child(3) {
                font-size: 1.6rem;
                font-weight: 500 !important;
                color: #222;
                text-transform: uppercase;
            }

            &:nth-child(4) {
                font-size: 1.6rem;
                font-weight: 500 !important;
                color: #222;
                text-transform: uppercase;
            }

            &:nth-child(5) {
                font-size: 1.6rem;
                font-weight: 700 !important;
                color: #377dff;
                text-transform: uppercase;
            }
        }


    }
}


.payment-table {
    margin-top: -1rem;
    text-align: center;

    thead {
        tr {
            border: none;
            background-color: #f9f9f9;
        }

        th {
            border: none;
            font-size: 1.6rem;
            font-weight: 400 !important;
            color: #222;
            text-transform: capitalize;
            padding: 1.3rem;
            width: 27.3rem;
            // width: 100%;
        }
    }

    tbody {
        tr {
            border: 0.1rem solid #eeeeee;
            background-color: #fff;
        }

        td {
            border: none;
            font-size: 1.6rem;
            font-weight: 500 !important;
            color: #222;
            text-transform: capitalize;
            padding: 1.3rem;

        }


    }
}