.about-us-pagee{
    .decp-detail-p-main-art p {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.6rem;
      color: #333;
      margin-bottom: 3rem;
    }
}

.about-page-tittlee{
  font-size: 3.2rem;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
}


.mission-about-main-p {
  background: #E6E6E6;
  border-radius: 20px;
  padding: 3rem;
  margin-bottom: 3rem;
  box-shadow: 0px 0px 3px rgba(23, 49, 41, 0.23%);
    .tittle-of-mission {
      font-size: 2.4rem;
      font-weight: 700;
      color: #333;
      margin-bottom: 1.6rem;
  }
  .desc-misssin-p-parent p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #333;
    font-weight: 400;
    &:last-child{
      margin-bottom: 0px;
    }
  }
}


.visson-parentt{
  .desc-misssin-p-parent p {
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: #333;
    font-weight: 400;
    &:last-child{
      margin-bottom: 0px;
    }
  }

}



.privacy-us-pagee{
  .decp-detail-p-main-art p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: #333;
    margin-bottom: 3rem;
  }

}


