$border-color:#EEEEEE;
$primary-heading: #AE6112;
$secondary-heading:#EF4129 !important;
$heading:#333 ;
$primary-light: #C0E5FD;
$text-8 :#888;
$text-9 :#999;
$text-p :#666;
$border-c: #CCCCCC;
$white: #ffffff;
$cccccc: #CCCCCC;
$footer-bg:#eeeeee;
$footer-color:#222222;
$inner-banner-line: #e6e6e6;
$border-clr: #eeeeee;
$cccccc: #cccccc;